DATABASE_URL=postgresql://neondb_owner:npg_M5TA7vlKaPWh@ep-purple-wildflower-anov4vw1-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
REDIS_URL=redis://default:gQAAAAAAASZPAAIncDFjNjJmZmY5MzMyNTQ0ZWEyOTI4MWQyNWIyODUyMzZiNnAxNzUzNDM@genuine-ferret-75343.upstash.io:6379
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
